.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
  margin: 5%;


}
.form input,label {
    font-size: large;
  }
#welcome h1{
  border-radius: 5%;
background-color: #EB5B00;
}
